html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}
body {
    background: #F7E8C4;
}
h1 {
    background-color: #1B8F58;
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    padding: 1em 0;
    margin: 0;
}
.pure-g [class *= "pure-u"] {
    text-align: center;
}
.pure-form {
    font-size: 1em;
    font-weight: 900;
    padding: 2em 0;
}
.pure-form fieldset {
    padding: 0;
}
.pure-form label {
    color: #1B8F58;
}
#postcode {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 90%;
    text-transform: uppercase;
}
#lookup {
    background: #1B8F58;
    border-radius: 10px;
}
#output {
    padding: 1em 0;
    margin: 0 auto;
    background: #A6C04D;
    font-size: 1em;
    line-height: 1em;
}
.footer {
    padding: 1em 0.2em 2em 0.2em;
}
.pure-form p.explain {
    font-weight: 400;
}
p.error {
    color: #C02D2B;
    font-weight: 900;
}
a {
    color: #1B8F58;
}

@media screen and (min-width: 48em) {
    h1 {
        font-size: 4em;
    }
    .pure-form, #output {
        font-size: 2em;
    }
    .footer {
        padding: 4em 0.2em 2em 0.2em;
    }
}
